@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
@font-face {
    font-family: "CustomFont";
    src: url('/fonts/Wishloved Demo.ttf');
}

@font-face {
  font-family: "Christmas";
  src: url('/fonts/ChristmasPeople Ding.ttf');
}

@font-face {
  font-family: "Child";
  src: url('/fonts/Best School Dingbat Font by Kelik (7NTypes).otf');
}

body{
  font-family: 'Arima', cursive;
}

main{
  min-height: 1104.6px;
}

.background_image{
    background-position: 50%;
    background-image: url('/storage/img/fondo_header.png');
    height: 350px;
}

.filtro_cabecera{
    background-color: rgba(0, 0, 0, 0.75);
}

.nav_bar_scroll{
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  color: #637190;
  transition: 0.4s;
}

.nav_bar_cabecera{
    background-color: rgba(208, 207, 207, 0.75);
    text-shadow: 1px -2px 6px black;
    transition: 0.4s;
    color: white;
}

.nav_boton:hover{
    font-size: 18px;
    -webkit-text-stroke: 0.4px white;
}

.nav-item{
    width: 100px;
    text-align: center;
}

.titulo{
    text-shadow: 1px -2px 6px gray;
    font-size: 57px !important;
    margin-top: 8.5rem;
    transition: 0.4s;
}

.enlace_titulo_nav{
  position: fixed;
  z-index: 200;
  transition: 0.4s;
  top: 0;
  color: #637190;
  vertical-align: center;
}

.img_nav{
  position: fixed;
  z-index: 200;
  transition: 0.4s;
  width: 40px;
  margin-top: 15px;
  margin-left: 10px;
}

.titulo_nav{
  text-shadow: 1px -2px 6px gray;
  font-size: 40px !important;
  position: fixed;
  margin-top: 33px;
  transition: 0.4s;
  margin-left: 200px;
  z-index: 200;
}

.letra{
    font-size: 26px;
    font-weight: 300;
    line-height: 25px;
}

.acentuar_letras{
    color: #DBC0A8;
    font-weight: 630;
}

.card{
    position: relative;
}

.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: .5s;
}

.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 5px 5px 11px 3px #888888;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

div hr{
  height: 3px;
  background-color: white;
  width: 70%;
  margin-bottom: 30px;
}

.titulo_destacados{
    text-shadow: 1px -2px 6px black;
}

.margin-box-back{
  margin-top: 61px;
}

.sombra-box-front{
  box-shadow: 6px 5px 6px 0px rgb(0 0 0 / 20%);
}

.oscurecer-img{
  filter: brightness(50%);
}

.aclarar-img{
  filter: brightness(150%); 
}

.rainbow-button {
  width:calc(130px + 6px);
  height:calc(48px + 6px);
  background-image: linear-gradient(90deg, #8593AE 0%, #5A4E4D 49%, #7E675E 80%, #DDA288 100%);
  border-radius:4px;
  font-size:15px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:after {
  content:attr(alt);
  width:130px;
  height:48px;
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:130px;
  }
}

.rainbow-destacado {
  width:calc(144px + 6px);
  height:calc(144px + 6px);
  background-image: linear-gradient(90deg, #8593AE 0%, #5A4E4D 49%, #7E675E 80%, #DDA288 100%);
  box-shadow: 5px 5px 11px 3px #888888;
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-destacado:after {
  content:attr(alt);
  width:132px;
  height:132px;
  --tw-bg-opacity: 1;
  background-color: rgb(100 116 139 / var(--tw-bg-opacity));
  display:flex;
  align-items:center;
  justify-content:center;
}
.rainbow-destacado:hover {
  animation:slid 2s linear infinite;
}

@keyframes slid {
  to {
    background-position:132px;
  }
}

.titulo_seccion {
  font-family: 'Sriracha';
  font-size: 40px;
}

#login{
  cursor: pointer;
}

.login_nav{
  position: fixed;
  z-index: 200;
  margin-top: 10px;
  right: 2%;
  top: 0;
  color: #637190;
}

.font-star{
  font-family: Christmas;
  font-size: 60px;
  height: 54px;
  margin-top: -31px;
}

.font-bulb{
  font-family: Child;
  font-size: 49px;
  height: 54px;
  margin-top: -31px;
}









h1 {
    text-align: center;
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    /*  box-shadow is from materialize css's website */
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.container img {
    width: 100%;
    z-index: -2;
}

button {
    height: 10%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 1em;
    display: flex;
}

button .arrow {
    border: solid #fff;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transition: transform 0.3s ease-out;
    outline: none;
}

#right-btn {
    margin: auto 0 auto -2em;
}

#right-btn .arrow {
    transform: rotate(-45deg);
}

#left-btn {
    z-index: 0;
    margin: auto -2em auto 0;
}

#left-btn .arrow {
    transform: rotate(135deg);
}

#info{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 10px;
  transition: 0.6s;
  animation: 0.5s ease-in alerta-derecha-izquierda;
  z-index: 1000;
}

@keyframes alerta-derecha-izquierda {
  from {
    left: 50%;
    
  }
  to {transform: translateX(-100%);
    left: 0;
    transform: translateX(0%);
  }
}

#close-info{
  opacity: 0.75;
  transform: translateY(10%);
}

#close-info:hover{
  opacity: 1;
}