@font-face {
    font-family: "icons-1";
    src: url('/fonts/Byom-Icons-Trial.ttf');
  
}

@font-face {
    font-family: "icons-2";
    src: url('/fonts/PeaxDrawnIcons.ttf');
}

.cuadro_info{
    margin-left: 8%;
}

.cuadro_grande{
    margin-top: -1.5px;
}

.pestania{
    border-bottom: none !important;
    z-index: 3;
    background-color: rgb(255 255 255 / 0.5) !important;
}

.titulo-pestania{
    margin-top: 13px;
}

.info-objeto{
    margin-top: 12%;
}

.imagen-principal{
    height: 274px;
}

.imagen-pequenia{
    height: 69px;
}

.imagen-principal:hover{
    cursor: pointer;
}

.imagen-pequenia:hover{
    cursor: pointer;
}

.icono-lugar{
    font-family: icons-2;
}

.muestrario input[type=color] {
    width: 25px;
    height: 25px; 
    border-radius: 50%;
    overflow: hidden;
}

.muestrario input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.muestrario input[type=color]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.icono-chincheta{
    font-family: icons-1;
}

.mi-modal{
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 0.5);
}

.mi-modal .img-mi-modal{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.button-container .button-desplazar-img {
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  position: relative;
  opacity: 0.75;
  transition: all 300ms ease-in-out;
}

.button-container .button-desplazar-img:hover {
  opacity: 1;
}

.button-container .button-desplazar-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  z-index: -99;
}

.button-container .button-desplazar-img:nth-child(1) {
  float: left;
}

.button-container .button-desplazar-img:nth-child(2) {
  float: right;
}

.mi-modal-close{
    position: absolute;
    top: 21.5%;
    right: 30%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    padding: 2px;
    opacity: 0.75;
    transition: .4s;
}

.mi-modal-close:hover{
    opacity: 1;
    cursor: pointer;
}

.mi-modal-close > i{
    opacity: 0.75;
    color: white;
    position: relative;
    top: 4px;
    left: 6px;
    transition: .4s;
}

.mi-modal-close > i:hover{
    opacity: 1;
    cursor: pointer;
}

.mi-modal-close-mobile{
    position: absolute;
    top: 38%;
    right: 9%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 50%;
    padding: 2px;
    opacity: 0.75;
    transition: .4s;
}

.mi-modal-close-mobile:hover{
    opacity: 1;
    cursor: pointer;
}

.mi-modal-close-mobile > i{
    opacity: 0.75;
    color: white;
    position: relative;
    top: 4px;
    left: 6px;
    transition: .4s;
}

.mi-modal-close-mobile > i:hover{
    opacity: 1;
    cursor: pointer;
}